.bg-primary {
  background-color: green;
}
.bg-secondary {
  background-color: red;
  color: #fff;
}
.toast {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0 1em 2em 0;
  padding: 1em;
  border-radius: .5em;
}
.toast .toast-body {
  font-weight: 600;
  font-size: .8em;
}
.toast button {
  display: flex;
  background: none;
  border: none;
  align-items: center;
  cursor: pointer;
}
.toast button svg {
  fill: #fff!important;
}
@media (max-width: 767px) {
  .toast {
    margin: .5em;
  }
  .toast .toast-body {
    font-size: .8em;
  }
}
